[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "LDATS"]
	path = LDATS
	url = https://github.com/weecology/ldats
	shallow = true
	registered = true
