[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LDATS"]
	path = LDATS
	url = https://github.com/weecology/ldats
[submodule "portalr"]
	path = portalr
	url = https://github.com/weecology/portalr
